.container {
  width: 90%;
  margin: 0 auto;
  max-width: 1400px;
  &.fluid {
      width: 100%;
      margin: 0 auto;
      max-width: none;
    }
}

.txt-center {
  text-align: center;
}

.subtitle {
  margin: 0 auto;
  font-size: 17px;
  color: $text-gray;
  padding-top: 25px;
  padding-bottom: 25px;
  font-weight: 300;
  line-height: 26px;
}

h4 {
  font-family: 'Merriweather', serif;
  font-size: 38px;
  color: $title-gray;
  font-weight: 600;
  line-height: 50px;
  &.big {
    font-size: 43px;
  }
}

//Padding

.pad-10{
  padding: 10px;
}

.pad-15{
  padding: 15px;
}

.pad-20 {
  padding: 20px;
}

//Padding top e bottom
.ptb-5 {
  padding-top: 5px;
  padding-bottom: 5px;
}

.ptb-10 {
  padding-top: 10px;
  padding-bottom: 10px;
}

.ptb-15 {
  padding-top: 15px;
  padding-bottom: 15px;
}

.ptb-20 {
  padding-top: 20px;
  padding-bottom: 20px;
}

.ptb-25 {
  padding-top: 25px;
  padding-bottom: 25px;
}

.ptb-30 {
  padding-top: 30px;
  padding-bottom: 30px;
}

.ptb-45 {
  padding-top: 45px;
  padding-bottom: 45px;
}

.ptb-120 {
  padding-top: 120px;
  padding-bottom: 120px;
}

.ptb-150 {
  padding-top: 150px;
  padding-bottom: 150px;
}

.ptb-5-10 {
  padding-top: 5px;
  padding-bottom: 10px;
}

.ptb-45-100 {
  padding-top: 45px;
  padding-bottom: 100px;
}

.ptb-140-100{
  padding-top: 140px;
  padding-bottom: 100px;
}

//Padding left e right
.plr-7 {
  padding-left: 7px;
  padding-right: 7px;
}
.plr-10 {
  padding-left: 10px;
  padding-right: 10px;
}

.plr-15 {
  padding-left: 15px;
  padding-right: 15px;
}

.plr-25 {
  padding-left: 25px;
  padding-right: 25px;
}

.plr-50 {
  padding-left: 50px;
  padding-right: 50px;
}

//Padding right
.pr-5 {
  padding-right: 5px;
}

.pr-10 {
  padding-right: 10px;
}

.pr-20 {
  padding-right: 20px;
}

//Padding bottom
.pb-5 {
  padding-bottom: 5px;
}
.pb-10 {
  padding-bottom: 10px;
}

.pb-15 {
  padding-bottom: 15px;
}

.pb-20 {
  padding-bottom: 20px;
}

.pb-25 {
  padding-bottom: 25px;
}

.pb-50 {
  padding-bottom: 50px;
}

.pb-60 {
  padding-bottom: 60px;
}

.pb-70 {
  padding-bottom: 70px;
}

.pb-80 {
  padding-bottom: 80px;
}

.pb-90 {
  padding-bottom: 90px;
}
.pb-100 {
  padding-bottom: 100px;
}

.pb-120 {
  padding-bottom: 120px;
}

//Padding top
.pt-15 {
  padding-top: 15px;
}

.pt-20 {
  padding-top: 20px;
}

.pt-30 {
  padding-top: 30px;
}

.pt-40 {
  padding-top: 40px;
}

.pt-50 {
  padding-top: 50px;
}

.pt-60 {
  padding-top: 60px;
}

.pt-100 {
  padding-top: 100px;
}

//Margin left-right
.mlr-5 {
  margin-left: 5px;
  margin-right: 5px;
}

//Margin right
.mr-10 {
  margin-right: 10px;
}

.mr-100 {
  margin-right: 100px;
}

//Margin left
.ml-10 {
  margin-left: 10px;
}

.ml-15 {
  margin-left: 15px;
}

.ml-70 {
  margin-left: 70px;
}

//Margin top
.mt-15 {
  margin-top: 15px;
}

.mt-20 {
  margin-top: 20px;
}

.mt-30 {
  margin-top: 30px;
}

.mt-50 {
  margin-top: 50px;
}

.mt-70 {
  margin-top: 70px;
}

.mt-80 {
  margin-top: 80px;
}

.mt-120 {
  margin-top: 120px;
}

//Margin top bottom
.mtb-30 {
  margin-top: 30px;
  margin-bottom: 30px;
}

.mtb-50 {
  margin-top: 50px;
  margin-bottom: 50px;
}

.mtb-70 {
  margin-top: 70px;
  margin-bottom: 70px;
}

.mtb-90 {
  margin-top: 90px;
  margin-bottom: 90px;
}

.mtb-120 {
  margin-top: 120px;
  margin-bottom: 120px;
}
