#courses {
  .container {
    .content-courses {
      @include flex-space-between-center;
      .card-courses {
        background-color: #f7fdff;
        @include flex-column-center-center;
        padding: 30px 20px;
        img {
          width: 50px;
        }
        h3 {
          padding: 20px 0;
          font-family: 'Merriweather', serif;
        }
      }
    }
  }
}
#tutoring {
  .container {
    .content-tutoring {
      .text-tutoring {
        h4 {

        }
        p {

          &.more {
            text-transform: uppercase;
            color: $celeste-button;
            font-weight: 600;
          }
        }
      }
      .img-tutoring {

      }
    }
  }
}
#world {
  .container {
    .content-world {
      @include flex-space-between-center;
      .img-world {
        width: 50%;
        @include flex-center-end;
        img {
          width: 100%;
        }
      }
      .text-world {
        width: 45%;
        h4 {

        }
        p {

        }
        .data-world {
          @include flex-start-center;
          .data-content-world{
            p {
              color: $celeste-button;
              font-family: 'Merriweather', serif;

              &:first-child {
                font-size: 70px;
                font-weight: 600;
              }

            }
          }
        }
      }
    }
  }
}
#review {
  .container {
    margin-top: 50px;
    &.background {
      background-image: url('../img/h5-parallax-img-1.png');
      background-repeat: no-repeat;
      background-size: cover;
    }
    .content-review {
      padding: 0 10%;
      .card-review {
        @include flex-column-center-center;
        .img-card {
          img {

          }
        }
        .text-card {
          color: $white;
          p {
            line-height: 35px;
            font-size: 22px;
            width: 80%;
            margin: 0 auto;
            font-weight: 300;
            &:last-child {
              text-transform: uppercase;
              font-weight: 600;
              font-size: 15px;
            }
          }
          h5 {
            font-family: 'Merriweather', serif;
            font-size: 25px;
            font-weight: 500;
          }
        }
        .icon-card {
          color: $white;
          padding: 40px 0;
        }
      }
    }
  }
}
#possibilities {
  .container {
    .content-possibilities {
      @include flex-center-flex-start;
      .course-possibilities {
        width: 20%;
        .content-course {
          ul {
            list-style: none;
            li {
              padding: 20px 10px 20px 20px;
              border: 1px solid $border-course-possibilities;
              font-family: 'Merriweather', serif;
              color: $text-course-possibilities;
              font-size: 16px;
              font-weight: 600;
              line-height: 30px;
              &:first-child {
                border-left: 7px solid $celeste-button;
                background-color: #fcfcfc;
                color: $celeste-button;
              }
            }
          }
        }
      }
      .description-course {
        width: 70%;
        .content-description {
          h4 {

          }
          p {

          }
        }
        .benefit-course {
          @include flex-space-between-flex-end;
          ul {
            list-style: none;
            li {
              font-size: 23px;
              color: $text-gray;
              padding: 10px 0;
              &:before{
                @include done;
              }
            }
          }
        }
      }
    }
  }
}
#online-courses {
  .container {
    &.background {
      background-image: url('../img/background-pattern.jpg');
      background-repeat: no-repeat;
      background-size: inherit;
    }
    .content-online-courses {
      .title-online-courses {
        .text-title {
          h4 {

          }
          p {

          }
        }
      }
      .content-card-online-courses {
        @include flex-space-between-center;
        .card-online-courses {
          width: calc(100% / 3 - 30px);
          .content-card-online {
            background-color: $white;
            border: 1px solid #f2f2f2;
            .img-card {
              img {
                width: 100%;
              }
            }
            .text-card {
              padding: 25px 30px 25px;
              .header-text {
                @include flex-space-between-flex-start;
                .title-text {
                  h6 {
                    font-family: 'Merriweather', serif;
                    color: $title-gray;
                    font-size: 18px;
                  }
                  p {
                    font-weight: 600;
                    color: #b9b9b9;
                  }
                }
                .price-text {
                  span {
                    background-color: $yellow;
                    padding: 5px 20px;
                    border-radius: 15px;
                    text-transform: uppercase;
                    color: white;
                  }
                }
              }
              .description-text {
                p {
                  font-size: 17px;
                  color: #808080;
                }
              }
              .tag-text {
                span {
                  text-transform: uppercase;
                  color: $icon-color-courses;
                  font-weight: 600;
                  vertical-align: middle;
                  &:first-child:before {
                    @include user;
                  }
                  &:last-child:before {
                    @include tag;

                  }
                }
              }
            }
          }
        }
      }
      .icon-card {
        .content-icon-card {
          i {
            color: $celeste-button;
          }
        }
      }
    }
  }
}
#pricing {
  .container {
    &.background {
      background-image: url('../img/background-pattern.jpg');
      background-repeat: no-repeat;
      background-size: inherit;
    }
    .content-pricing {
      .text-pricing {
        h4 {

        }
        p {

        }
      }
      .table-pricing {
        .content-table-pricing {
          table {
            margin: 0 auto;
            border-collapse: collapse;
            border-spacing: 0;
            thead {
              background-color: red;
              tr {
                th {
                  font-family: 'Merriweather',serif;
                  font-size: 16px;
                  padding: 10px 10px 10px 30px;
                }
              }
            }
            tbody {
              tr {
                td {
                  border-bottom: 1px solid #efefef;
                  font-weight: 400;
                  font-size: 20px;
                  color: grey;
                  text-align: center;
                  &:first-child {
                    font-family: 'Merriweather',serif;
                    padding: 10px 10px 10px 30px;
                    text-align: left;
                    font-size: 16px;
                    font-weight: 600;
                    height: 60px;
                  }
                  i {
                    &.fa-check {
                      color: $celeste-button;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
