footer {
  #footer {
    .container {
      &.background {
        background-color: $background-footer;
      }
      .content-footer {
        padding: 120px 5% 0px 70px;
        margin: 0 auto;
        max-width: 1400px;
        .menu-footer {
          color: $white;
          padding-bottom: 70px;
          .content-footer-menu {
            display: flex;
            .column-menu {
              width: 25%;
              .content-column-menu {
                ul {
                  list-style: none;
                  li {
                    color: $title-footer;
                    font-size: 22px;
                    font-family: 'Merriweather', serif;
                    font-weight: 700;
                    a {
                      img {
                        width: 120px;
                        padding-bottom: 30px;
                      }
                    }
                    ul {
                      &:first-child {
                        padding-top: 30px;
                      }
                      li {
                        &.widgetFirst {
                          width: 80%;
                          font-size: 15px;
                          font-weight: 300;
                          font-family: 'Open Sans', sans-serif;
                          color: $widgetSecond-title;
                          &:nth-child(1) {
                            margin-bottom: 25px;
                            line-height: 25px;
                          }
                          &:nth-child(2) {
                            font-size: 13px;
                            color: $white;
                            font-weight: 600;
                            margin-bottom: 15px;
                            &:before {
                              @include telephone;
                            }
                            &:hover{
                              color: $celeste-button;
                            }
                          }
                          &:nth-child(3) {
                            font-size: 13px;
                            color: $white;
                            font-weight: 600;
                            margin-bottom: 15px;
                            &:before {
                              @include time;
                            }
                            &:hover{
                              color: $celeste-button;
                            }
                          }
                        }
                        &.widgetSecondType {
                          a {
                            font-size: 15px;
                            color: $widgetSecond-title;
                            font-family: 'Merriweather', serif;
                            font-weight: 700;
                            text-decoration: none;
                            &:hover {
                              color: $celeste-button;
                              cursor: pointer;
                            }
                          }
                        }
                        &.widgetSecondAuthor {
                          font-size: 13px;
                          font-family: 'Open Sans', sans-serif;
                          color: $icon-color-courses;
                          font-weight: 600;
                          margin-bottom: 20px;
                          margin-top: 3px;
                        }
                        &.widgetThird {
                          font-size: 15px;
                          font-family: 'Open Sans', sans-serif;
                          padding-bottom: 10px;
                          font-weight: 500;
                          & a{
                            text-decoration: none;
                            color: $widgetSecond-title;
                            &:hover {
                              color: $celeste-button;
                              cursor: pointer;
                            }
                          }
                        }
                        &.widgetFourth {
                          img {
                            width: 200px;
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
        hr {
          border-bottom: 1px solid #959595;
          border-top: none;
          border-left: none;
          border-right: none;
        }
        .copyright-menu {
          .content-copyright-menu {
            @include flex-space-between-center;
            padding: 30px 0;
            .right-copyright-menu {
              span {
                font-size: 11px;
                color: $copyright-footer;
              }
            }
            .left-copyright-menu {
              @include flex-center;
              span {
                font-size: 11px;
                text-transform: uppercase;
                padding-right: 20px;
                a {
                  text-decoration: none;
                  color: $copyright-footer;
                  &:hover {
                    color: $celeste-button;
                    cursor: pointer;
                  }
                }
              }
              ul {
                list-style: none;
                @include flex-center-end;
                li {
                  a {
                    i {
                      padding-right: 20px;
                      color: $copyright-footer;
                      font-size: 13px;
                      &:hover {
                        color: $celeste-button;
                        cursor: pointer;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
      .pointer-up {
        .content-pointer-up {
          position: fixed;
          bottom: 0;
          right: 0;
          background-color: $celeste-button;
          padding: 10px 15px;
          & a {
            @include flex-column-center-center;
            text-decoration: none;
            color: $white;
            span {
              text-transform: uppercase;
              font-size: 11px;
            }
          }
        }
        .content-shopping-bag {
          position: fixed;
          bottom: 150px;
          right: 0;
          background-color: $white;
          padding: 10px 15px;
          width: 51px;
          box-shadow: 1px 1px 3px grey;
          a {
            img {
              color: $shopping-bag-footer;
              vertical-align: middle;
            }
          }
        }
        .content-circle-logo {
          position: fixed;
          bottom: 200px;
          right: 0;
          background-color: $white;
          padding: 10px 15px;
          width: 51px;
          box-shadow: 1px 1px 3px grey;
          a {
            img {
              fill: $white;
              vertical-align: middle;
            }
          }
        }
      }
    }
  }
}
