#navbar {
  height: 75px;
  background-color: black;
  @include flex-center;
  .container {
    .content-navbar {
      @include flex-space-between-center;
      .logo-navbar {
        .content-logo-navbar{
          img {
            width: 120px;
          }
        }
      }
      .menu-navbar {
        .content-menu-navbar {
          ul {
            list-style: none;
            @include flex-center;
            li {
              a {

              }
            }
          }
        }
      }
      .icon-navbar {
        .content-icon-navbar {
          ul {
            li {
              a {
                i {
                  color: white;
                }
              }
            }
          }
        }
      }
    }
  }
}
