#navbar {
  width: 100%;
  height: 75px;
  background-color: transparent;
  position: fixed;
  z-index: 1;
  @include flex-center;
  .container {
    .content-navbar {
      @include flex-space-between-center;
      .logo-navbar {
        .content-logo-navbar{
          img {
            height: 32px;
            max-height: 70px;
          }
        }
      }
      .menu-navbar {
        .content-menu-navbar {
          ul {
            list-style: none;
            @include flex-center;
            li {
              text-transform: uppercase;
              a {
                font-size: 15px;
                text-decoration: none;
                color: $white;
                &:hover {
                  color: $celeste-button;
                  cursor: pointer;
                  font-weight: 600;
                }
              }
            }
          }
        }
      }
      .icon-navbar {
        .content-icon-navbar {
          ul {
            @include flex-center;
            list-style: none;
            li {
              a {
                i {
                  &:hover {
                    color: $celeste-button;
                    cursor: pointer;
                  }
                }
              }
              &:nth-child(2) {
                a {
                  i {
                    &.fa-shopping-bag {
                    // position: absolute;
                    // top: 50%;
                    // width: 15px;
                    // height: 15px;
                    // border-radius: 50%;
                    // color: $white;
                    // background-color: $celeste-button;
                    // z-index: 3;
                  }
                }
              }
            }
              a {
                i {
                  color: white;
                }
              }
            }
          }
        }
      }
    }
  }
}
#jumbo {
  .container {
    .content-jumbo {
      position: relative;
      .card-jumbo {
        position: relative;
        &.background {
          background-image: url('../img/h5-slide-3-background.jpg');
          background-size: cover;
          background-repeat: no-repeat;
        }
        img {
          width: 100%;
        }
        .text-jumbo {
          color: $white;
          h2 {
            font-family: 'Merriweather', serif;
            font-weight: 700;
            font-size: 65px;
            color: $white;
            padding-top: 180px;
            padding-bottom: 25px;
          }
          p {
            font-size: 17px;
            font-weight: 400;
            line-height: 30px;
            color: $white;
            width: 70%;
            margin: 0 auto;
          }
          button {
            color: $white;
            background-color: $celeste-button;
            border: none;
            padding: 17px 30px;
            text-transform: uppercase;
            letter-spacing: 1px;
            font-weight: 600;
            font-size: 15px;
            margin-bottom: 150px;
          }
        }
        .icon-jumbo {
          padding-bottom: 30px;
          i {
            padding: 0 5px;
            color: rgba(255, 255, 255, 0.5);
            @include dotJumbo;
            &.active {

            }
          }
        }
      }
    }
  }
}
