@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flex-center-flex-start {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

@mixin flex-center-end {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

@mixin flex-start-center {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

@mixin flex-space-around-center {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

@mixin flex-space-between-flex-end {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

@mixin flex-space-between-center {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin flex-space-between-flex-start {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

@mixin flex-column-center-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@mixin done {
  content: '\f00c';
  font-weight: 900;
  font-family: "Font Awesome 5 Free";
  color: $celeste-button;
  vertical-align: middle;
  padding-right: 10px;
}

@mixin user {
  content: '\f007';
  font-weight: 900;
  font-family: "Font Awesome 5 Free";
  color: $icon-color-courses;
  padding-right: 5px;
  font-size: 12px;
}

@mixin tag {
  content: '\f02b';
  font-weight: 900;
  font-family: "Font Awesome 5 Free";
  color: $icon-color-courses;
  vertical-align: middle;
  padding-right: 5px;
  padding-left: 10px;
}

@mixin telephone {
  content: '\f879';
  font-weight: 900;
  font-family: "Font Awesome 5 Free";
  color: $icon-color-courses;
  vertical-align: middle;
  padding-right: 10px;
}

@mixin time {
  content: '\f017';
  font-weight: 900;
  font-family: "Font Awesome 5 Free";
  color: $icon-color-courses;
  vertical-align: middle;
  padding-right: 10px;
}

@mixin dotJumbo {
  content: '\f192';
  font-weight: 900;
  font-family: "Font Awesome 5 Free";
  vertical-align: middle;
  color: $white;
}
