//COLORI
$white: #ffffff;
$celeste-button: #40c4ff;
$title-gray: #303030;
$text-gray: #595959;
$text-course-possibilities: #847b7b;
$border-course-possibilities: #e5e5e5;
$icon-color-courses: #b9b9b9;
