//COLORI
$white: #ffffff;
// $celeste-button: #40c4ff;
$celeste-button: #045d8c;
$title-gray: #303030;
$text-gray: #595959;
$text-course-possibilities: #847b7b;
$border-course-possibilities: #e5e5e5;
$icon-color-courses: #b9b9b9;
$yellow: #ffd740;
$gray-title-table: #3e3e3e;
$celeste-back-table: #f7fdff;
$border-gray-table: #efefef;
$background-footer: #222222;
$title-footer: #fbfbfc;
$widgetSecond-title: #cecece;
$copyright-footer: #959595;
