<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>iCademy</title>
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />
  <link rel="stylesheet" href="assets/css/master.css">
</head>
<body>
  <div id="root">
    <div id="navbar">
      <div class="container">
        <div class="content-navbar">
          <div class="logo-navbar">
            <div class="content-logo-navbar">
              <img src="assets/img/logo-light.png" alt="Logo iAcademy">
            </div>
          </div>
          <div class="menu-navbar">
            <div class="content-menu-navbar">
              <ul>
                <li v-for= 'menu in menuNavbar' class="plr-15">
                  <a :href=`${menu.link}`>{{ menu.name }}</a>
                </li>
              </ul>
            </div>
          </div>
          <div class="icon-navbar">
            <div class="content-icon-navbar">
              <ul>
                <li v-for="icon in iconNavbar" class="plr-10">
                  <a :href=`${icon.link}`><i :class="'fas fa-' + `${icon.name}`"></i></a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <section id="jumbo">
      <div class="container fluid">
        <div class="content-jumbo">
          <!-- <div class="card-jumbo" v-for="slide in jumboSlide">
            <img :src="slideImgBase + `${slide.img}` + '-background.jpg'" alt="">
            <div class="text-jumbo txt-center">
              <h2>{{ slide.title }}</h2>
              <p>{{ slide.text }}</p>
              <button>{{ slide.button }}</button>
            </div>
          </div> -->
          <img src="assets/img/h5-slide-3-background.jpg" alt="">
        </div>
      </div>
    </section>
    <section id="courses">
      <div class="container mt-30">
        <div class="content-courses">
          <div class="card-courses" v-for="(course, i) in courses">
            <img :src= "coursesImgBase + ((i)+1) + '.png'" alt="">
            <h3>{{ course.title }}</h3>
          </div>
        </div>
      </div>
    </section>
    <section id="tutoring">
      <div class="container mtb-70">
        <div class="content-tutoring">
          <div class="text-tutoring">
            <h4>The Trusted Name <br> for In-Home-Tutoring</h4>
            <p class="ptb-25">Lorem Ipns gravide nibh vel velit auctor aliquetnean sollicitudin,
               lorem quis bibendum auci elit consequat ipsutis sem nibh id elited
               odio sit amet nibcursus a sit amet mauris.</p>
            <p class="more">Learn more</p>
          </div>
          <div class="img-tutoring">
            <img src="assets/img/h5-img-1.jpg" alt="">
          </div>
        </div>
      </div>
    </section>
  </div> <!-- Chiusura oggetto Vue -->
  <script src="https://cdn.jsdelivr.net/npm/vue"></script>
  <script src="assets/js/main.js" charset="utf-8"></script>
</body>
</html>
