<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>iCademy</title>
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />
  <link rel="stylesheet" href="assets/css/master.css">
</head>
<body>
  <div id="root">
    <div id="navbar">
      <div class="container">
        <div class="content-navbar">
          <div class="logo-navbar">
            <div class="content-logo-navbar">
              <img src="assets/img/logo-light.png" alt="Logo iAcademy">
            </div>
          </div>
          <div class="menu-navbar">
            <div class="content-menu-navbar">
              <ul>
                <li v-for= 'menu in menuNavbar' class="plr-15">
                  <a :href=`${menu.link}`>{{ menu.name }}</a>
                </li>
              </ul>
            </div>
          </div>
          <div class="icon-navbar">
            <div class="content-icon-navbar">
              <ul>
                <li v-for="icon in iconNavbar" class="plr-10">
                  <a :href=`${icon.link}`><i :class="'fas fa-' + `${icon.name}`"></i></a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <section id="jumbo">
      <div class="container fluid">
        <div class="content-jumbo">
          <div class="card-jumbo background">
            <div class="text-jumbo txt-center">
              <h2>{{ jumboSlide[index].title }}</h2>
              <p class="mt-50">{{ jumboSlide[index].text }}</p>
              <button class="mt-50" @click="next">{{ jumboSlide[index].button }}</button>
            </div>
            <div class="icon-jumbo txt-center">
              <i class="fas fa-circle" v-for="(slide, i) in jumboSlide" :class="(i == index ) ? 'active' : '' " @click='active(dot-1)'></i>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section id="courses" class="mt-70">
      <div class="container">
        <div class="content-courses">
          <div class="card-courses" v-for="(course, i) in courses">
            <img :src= "coursesImgBase + ((i)+1) + '.png'" alt="">
            <h3>{{ course.title }}</h3>
          </div>
        </div>
      </div>
    </section>
    <section id="tutoring" class="mt-120">
      <div class="container">
        <div class="content-tutoring">
          <div class="text-tutoring">
            <h4>The Trusted Name <br> for In-Home-Tutoring</h4>
            <p class="subtitle">Lorem Ipns gravide nibh vel velit auctor aliquetnean sollicitudin,
               lorem quis bibendum auci elit consequat ipsutis sem nibh id elited
               odio sit amet nibcursus a sit amet mauris.</p>
            <p class="more">Learn more</p>
          </div>
          <div class="img-tutoring mt-30">
            <img src="assets/img/h5-img-1.jpg" alt="">
          </div>
        </div>
      </div>
    </section>
    <section id="world" class="mt-120">
      <div class="container">
        <div class="content-world">
          <div class="img-world">
            <img class="mt-50" src="assets/img/h5-img-2.jpg" alt="Immagine ragazzi con le mani sul mondo">
          </div>
          <div class="text-world">
            <h4>Empowering Children to Reach Their Potential</h4>
            <p class="subtitle">Lorem Ipns gravide nibh vel velit auctor aliquetnean sollicitudin,
               lorem quis bibendum auci elit consequat ipsutis sem nibh id elited
               odio sit amet nibcursus a sit amet mauris.</p>
            <div class="data-world">
              <div class="data-content-world mr-100" v-for="data in dataWorld">
                <p>{{ data.number }}</p>
                <p>{{ data.text }}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section id="review">
      <div class="container fluid background">
        <div class="content-review">
          <div class="card-review ptb-150">
            <div class="img-card">
              <img :src="reviewImgBase + `${review[index].img}` + '.png'" alt="">
            </div>
            <div class="text-card txt-center">
              <p class="ptb-30">{{ review[index].description }}</p>
              <h5 class="ptb-10">{{ review[index].author }}</h5>
              <p>{{ review[index].type }}</p>
            </div>
            <div class="icon-card">
              <i class="fas fa-circle" v-for="(data, i) in review" :class="(i == index ) ? 'active' : '' "></i>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section id="possibilities" class="mt-120">
      <div class="container">
        <div class="content-possibilities">
          <div class="course-possibilities">
            <div class="content-course">
              <ul>
                <li v-for="(possibilitie, i) in possibilities" @click="selezione(i)" :class="(i == indexPossibilities) ? 'active' : '' ">{{ possibilitie.intro }}</li>
              </ul>
            </div>
          </div>
          <div class="description-course ml-70">
            <div class="content-description">
              <h4>{{ possibilities[indexPossibilities].title }}</h4>
              <p class="subtitle">{{ possibilities[indexPossibilities].description }}</p>
            </div>
            <div class="benefit-course">
              <ul>
                <li v-for="benefit in possibilities[indexPossibilities].benefit">{{ benefit.title }}</li>
              </ul>
              <div class="img-benefit">
                <img :src="'assets/img/h12-tabs-icon-' + `${indexPossibilities + 1}` + '.png'" alt="">
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section id="online-courses" class="mt-120">
      <div class="container fluid background ">
        <div class="content-online-courses">
          <div class="title-online-courses txt-center">
            <div class="text-title">
              <h4>Popular Online Courses</h4>
              <p class="subtitle reduce">Lorem ipsum gravida nibh vel velit auctor aliquetnean
                sollicitudin, lorem quis bibendum auci elit consequat ipsutis
                sem nibh id elit
              </p>
            </div>
          </div>
          <div class="content-card-online-courses mt-70">
            <div class="card-online-courses" v-for="course in onlineCourses">
              <div class="content-card-online">
                <div class="img-card">
                  <img :src="onlineCoursesImgBase + `${course.img}` + '-f-img.jpg'" alt="">
                </div>
                <div class="text-card">
                  <div class="header-text">
                    <div class="title-text">
                      <h6>{{ course.title }}</h6>
                      <p class="ptb-10">{{ course.author }}</p>
                    </div>
                    <div class="price-text">
                      <span>{{ course.price }}</span>
                    </div>
                  </div>
                  <div class="description-text mt-15">
                    <p>{{ course.description }}</p>
                  </div>
                  <div class="tag-text ptb-15">
                    <span>{{ course.people }}</span>
                    <span>{{ course.tag }}</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="icon-card">
            <div class="content-icon-card txt-center ptb-45">
              <i class="fas fa-circle plr-7" v-for="course in onlineCourses"></i>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section id="pricing" class="mt-120">
      <div class="container background fluid pb-120">
        <div class="content-pricing">
          <div class="text-pricing txt-center">
            <h4>Pricing Plans</h4>
            <p class="subtitle">Lorem ipsum gravida nibh vel velit auctor aliquetnean sollicitudin, lorem quis bibendu, auci</p>
          </div>
          <div class="table-pricing mt-70">
            <div class="content-table-pricing">
              <table>
                <thead>
                  <tr>
                    <th rowspan="3" v-for="date in dateTable">
                      <img :src="dataTableImgBase + `${date.img}` + '.png'" alt="">
                      <h5>{{ date.title }}</h5>
                      <p>{{ date.cost }}</p>
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td v-for="date in dateTable">{{ date.courses }}</td>
                  </tr>
                  <tr>
                    <td v-for="date in dateTable">{{ date.time }}</td>
                  </tr>
                  <tr>
                    <td v-for="date in dateTable" v-html="date.web"></td>
                  </tr>
                  <tr>
                    <td v-for="date in dateTable" v-html="date.human"></td>
                  </tr>
                  <tr>
                    <td v-for="date in dateTable" v-html="date.marketing"></td>
                  </tr>
                  <tr>
                    <td v-for="date in dateTable" v-html="date.python"></td>
                  </tr>
                  <tr>
                    <td v-for="date in dateTable" v-html="date.android"></td>
                  </tr>
                  <tr>
                    <td v-for="date in dateTable" v-html="date.english"></td>
                  </tr>
                  <tr>
                    <td v-for="date in dateTable" class="button"><button>{{ date.button }}</button></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section id="partners" class="mtb-90">
      <div class="container">
        <div class="content-partners">
          <div class="img-partners" v-for="partner in partners">
            <img :src="partnersImgBase + `${partner.img}` + '.png'" alt="">
          </div>
        </div>
      </div>
    </section>
    <footer>
      <section id="footer">
        <div class="container fluid background">
          <div class="content-footer">
            <div class="menu-footer">
              <div class="content-footer-menu">
                <div class="column-menu">
                  <div class="content-column-menu">
                    <ul>
                      <li><img src="assets/img/logo-light.png" alt="">
                        <ul>
                          <li class="widgetFirst" v-for="(data, i) in widgetFirst">{{ data.description }}</li>
                        </ul>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="column-menu">
                  <div class="content-column-menu">
                    <ul>
                      <li>{{ widgetSecond[0].title}}
                        <ul v-for="data in widgetSecond">
                          <li class="widgetSecondType" v-if="data.type">{{ data.type }}</li>
                          <li class="widgetSecondAuthor" v-if="data.author">{{ data.author }}</li>
                        </ul>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="column-menu">
                  <div class="content-column-menu">
                    <ul>
                      <li>{{ widgetThird[0].title}}
                        <ul>
                          <li class="widgetThird" v-if="data.menu" v-for="(data, i) in widgetThird"><a :href=`${data.link}`>{{ data.menu }}</a></li>
                        </ul>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="column-menu">
                  <div class="content-column-menu">
                    <ul>
                      <li>{{ widgetFourth[0].title}}
                        <ul>
                          <li class="widgetFourth"><img :src="widgetFourthImgBase" alt=""></li>
                        </ul>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <hr>
            <div class="copyright-menu">
              <div class="content-copyright-menu">
                <div class="right-copyright-menu">
                  <span v-for="data in widgetCopyRight">{{ data.title }}</span>
                </div>
                <div class="left-copyright-menu">
                  <span v-for="data in widgetCopyLeft"><a :href=`${data.link}`>{{ data.title }}</a></span>
                  <ul>
                    <li v-for="data in iconSocialFooter"><a :href=`${data.link}`><i :class="iconSocialFooterImgBase + `${data.title}`"></i></a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="pointer-up">
            <div class="content-pointer-up">
              <a href="#">
                <i class="fas fa-chevron-up"></i>
                <span>top</span>
              </a>
            </div>
          </div>
        </div>
      </section>
    </footer>
  </div> <!-- Chiusura oggetto Vue -->
  <script src="https://cdn.jsdelivr.net/npm/vue"></script>
  <script src="assets/js/main.js" charset="utf-8"></script>
</body>
</html>
