* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
}

.container {
  width: 90%;
  margin: 0 auto;
}
.container.fluid {
  width: 100%;
  margin: 0 auto;
}

#navbar {
  width: 100%;
  height: 75px;
  background-color: black;
  position: fixed;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
#navbar .container .content-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#navbar .container .content-navbar .logo-navbar .content-logo-navbar img {
  width: 120px;
}
#navbar .container .content-navbar .menu-navbar .content-menu-navbar ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
#navbar .container .content-navbar .icon-navbar .content-icon-navbar ul li a i {
  color: white;
}

#jumbo .container .content-jumbo .card-jumbo {
  position: relative;
}
#jumbo .container .content-jumbo .card-jumbo .text-jumbo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#courses .container .content-courses {
  display: flex;
  justify-content: center;
  align-items: center;
}
