@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
}

.container {
  width: 90%;
  margin: 0 auto;
}
.container.fluid {
  width: 100%;
  margin: 0 auto;
}

.txt-center {
  text-align: center;
}

.subtitle {
  margin: 0 auto;
  font-size: 23px;
  color: #595959;
  padding-top: 25px;
  padding-bottom: 25px;
}

h4 {
  font-family: "Merriweather", serif;
  font-size: 50px;
  color: #303030;
  font-weight: 500;
}

.pad-10 {
  padding: 10px;
}

.pad-15 {
  padding: 15px;
}

.pad-20 {
  padding: 20px;
}

.ptb-5 {
  padding-top: 5px;
  padding-bottom: 5px;
}

.ptb-10 {
  padding-top: 10px;
  padding-bottom: 10px;
}

.ptb-15 {
  padding-top: 15px;
  padding-bottom: 15px;
}

.ptb-20 {
  padding-top: 20px;
  padding-bottom: 20px;
}

.ptb-25 {
  padding-top: 25px;
  padding-bottom: 25px;
}

.ptb-30 {
  padding-top: 30px;
  padding-bottom: 30px;
}

.ptb-45 {
  padding-top: 45px;
  padding-bottom: 45px;
}

.ptb-150 {
  padding-top: 150px;
  padding-bottom: 150px;
}

.plr-7 {
  padding-left: 7px;
  padding-right: 7px;
}

.plr-10 {
  padding-left: 10px;
  padding-right: 10px;
}

.plr-15 {
  padding-left: 15px;
  padding-right: 15px;
}

.plr-25 {
  padding-left: 25px;
  padding-right: 25px;
}

.plr-50 {
  padding-left: 50px;
  padding-right: 50px;
}

.pr-5 {
  padding-right: 5px;
}

.pr-10 {
  padding-right: 10px;
}

.pr-20 {
  padding-right: 20px;
}

.pb-5 {
  padding-bottom: 5px;
}

.pb-10 {
  padding-bottom: 10px;
}

.pb-15 {
  padding-bottom: 15px;
}

.pb-20 {
  padding-bottom: 20px;
}

.pb-25 {
  padding-bottom: 25px;
}

.pb-50 {
  padding-bottom: 50px;
}

.pb-60 {
  padding-bottom: 60px;
}

.pb-70 {
  padding-bottom: 70px;
}

.pb-80 {
  padding-bottom: 80px;
}

.pb-90 {
  padding-bottom: 90px;
}

.pb-100 {
  padding-bottom: 100px;
}

.pt-20 {
  padding-top: 20px;
}

.pt-30 {
  padding-top: 30px;
}

.pt-40 {
  padding-top: 40px;
}

.pt-50 {
  padding-top: 50px;
}

.pt-60 {
  padding-top: 60px;
}

.mlr-5 {
  margin-left: 5px;
  margin-right: 5px;
}

.mr-10 {
  margin-right: 10px;
}

.mr-100 {
  margin-right: 100px;
}

.ml-10 {
  margin-left: 10px;
}

.ml-15 {
  margin-left: 15px;
}

.ml-70 {
  margin-left: 70px;
}

.mt-15 {
  margin-top: 15px;
}

.mt-30 {
  margin-top: 30px;
}

.mt-50 {
  margin-top: 50px;
}

.mt-70 {
  margin-top: 70px;
}

.mt-80 {
  margin-top: 80px;
}

.mt-120 {
  margin-top: 120px;
}

.mtb-30 {
  margin-top: 30px;
  margin-bottom: 30px;
}

.mtb-50 {
  margin-top: 50px;
  margin-bottom: 50px;
}

.mtb-70 {
  margin-top: 70px;
  margin-bottom: 70px;
}

#navbar {
  width: 100%;
  height: 75px;
  background-color: transparent;
  border: 1px solid black;
  position: fixed;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
#navbar .container .content-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#navbar .container .content-navbar .logo-navbar .content-logo-navbar img {
  width: 120px;
}
#navbar .container .content-navbar .menu-navbar .content-menu-navbar ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
#navbar .container .content-navbar .menu-navbar .content-menu-navbar ul li {
  text-transform: uppercase;
}
#navbar .container .content-navbar .menu-navbar .content-menu-navbar ul li a {
  text-decoration: none;
  color: #ffffff;
}
#navbar .container .content-navbar .icon-navbar .content-icon-navbar ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}
#navbar .container .content-navbar .icon-navbar .content-icon-navbar ul li a i {
  color: white;
}

#jumbo .container .content-jumbo .card-jumbo {
  position: relative;
}
#jumbo .container .content-jumbo .card-jumbo img {
  width: 100%;
}
#jumbo .container .content-jumbo .card-jumbo .text-jumbo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #ffffff;
}
#jumbo .container .content-jumbo .card-jumbo .text-jumbo h2 {
  font-family: "Merriweather", serif;
}
#jumbo .container .content-jumbo .card-jumbo .text-jumbo button {
  color: #ffffff;
  background-color: #40c4ff;
  border: none;
  padding: 15px 30px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 600;
}

#courses .container .content-courses {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#courses .container .content-courses .card-courses {
  background-color: #f7fdff;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-items: center;
  padding: 30px 20px;
}
#courses .container .content-courses .card-courses img {
  width: 50px;
}
#courses .container .content-courses .card-courses h3 {
  padding: 20px 0;
  font-family: "Merriweather", serif;
}

#tutoring .container .content-tutoring .text-tutoring p.more {
  text-transform: uppercase;
  color: #40c4ff;
  font-weight: 600;
}
#world .container .content-world {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#world .container .content-world .img-world {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
#world .container .content-world .img-world img {
  width: 100%;
}
#world .container .content-world .text-world {
  width: 45%;
}
#world .container .content-world .text-world .data-world {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
#world .container .content-world .text-world .data-world .data-content-world p {
  color: #40c4ff;
  font-family: "Merriweather", serif;
}
#world .container .content-world .text-world .data-world .data-content-world p:first-child {
  font-size: 70px;
  font-weight: 600;
}

#review .container {
  margin-top: 50px;
}
#review .container.background {
  background-image: url("../img/h5-parallax-img-1.png");
  background-repeat: no-repeat;
  background-size: cover;
}
#review .container .content-review {
  padding: 0 10%;
}
#review .container .content-review .card-review {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-items: center;
}
#review .container .content-review .card-review .text-card {
  color: #ffffff;
}
#review .container .content-review .card-review .text-card p {
  line-height: 35px;
  font-size: 22px;
  width: 80%;
  margin: 0 auto;
  font-weight: 300;
}
#review .container .content-review .card-review .text-card p:last-child {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 15px;
}
#review .container .content-review .card-review .text-card h5 {
  font-family: "Merriweather", serif;
  font-size: 25px;
  font-weight: 500;
}
#review .container .content-review .card-review .icon-card {
  color: #ffffff;
  padding: 40px 0;
}

#possibilities .container .content-possibilities {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
#possibilities .container .content-possibilities .course-possibilities {
  width: 20%;
}
#possibilities .container .content-possibilities .course-possibilities .content-course ul {
  list-style: none;
}
#possibilities .container .content-possibilities .course-possibilities .content-course ul li {
  padding: 20px 10px 20px 20px;
  border: 1px solid #e5e5e5;
  font-family: "Merriweather", serif;
  color: #847b7b;
  font-size: 16px;
  font-weight: 600;
  line-height: 30px;
}
#possibilities .container .content-possibilities .course-possibilities .content-course ul li:first-child {
  border-left: 7px solid #40c4ff;
  background-color: #fcfcfc;
  color: #40c4ff;
}
#possibilities .container .content-possibilities .description-course {
  width: 70%;
}
#possibilities .container .content-possibilities .description-course .benefit-course {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
#possibilities .container .content-possibilities .description-course .benefit-course ul {
  list-style: none;
}
#possibilities .container .content-possibilities .description-course .benefit-course ul li {
  font-size: 23px;
  color: #595959;
  padding: 10px 0;
}
#possibilities .container .content-possibilities .description-course .benefit-course ul li:before {
  content: "";
  font-weight: 900;
  font-family: "Font Awesome 5 Free";
  color: #40c4ff;
  vertical-align: middle;
  padding-right: 10px;
}

#online-courses .container.background {
  background-image: url("../img/background-pattern.jpg");
  background-repeat: no-repeat;
  background-size: inherit;
}
#online-courses .container .content-online-courses .content-card-online-courses {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#online-courses .container .content-online-courses .content-card-online-courses .card-online-courses {
  width: calc(100% / 3 - 30px);
}
#online-courses .container .content-online-courses .content-card-online-courses .card-online-courses .content-card-online {
  background-color: #ffffff;
  border: 1px solid #f2f2f2;
}
#online-courses .container .content-online-courses .content-card-online-courses .card-online-courses .content-card-online .img-card img {
  width: 100%;
}
#online-courses .container .content-online-courses .content-card-online-courses .card-online-courses .content-card-online .text-card {
  padding: 25px 30px 25px;
}
#online-courses .container .content-online-courses .content-card-online-courses .card-online-courses .content-card-online .text-card .header-text {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
#online-courses .container .content-online-courses .content-card-online-courses .card-online-courses .content-card-online .text-card .header-text .title-text h6 {
  font-family: "Merriweather", serif;
  color: #303030;
  font-size: 18px;
}
#online-courses .container .content-online-courses .content-card-online-courses .card-online-courses .content-card-online .text-card .header-text .title-text p {
  font-weight: 600;
  color: #b9b9b9;
}
#online-courses .container .content-online-courses .content-card-online-courses .card-online-courses .content-card-online .text-card .header-text .price-text span {
  background-color: #ffd740;
  padding: 5px 20px;
  border-radius: 15px;
  text-transform: uppercase;
  color: white;
}
#online-courses .container .content-online-courses .content-card-online-courses .card-online-courses .content-card-online .text-card .description-text p {
  font-size: 17px;
  color: #808080;
}
#online-courses .container .content-online-courses .content-card-online-courses .card-online-courses .content-card-online .text-card .tag-text span {
  text-transform: uppercase;
  color: #b9b9b9;
  font-weight: 600;
  vertical-align: middle;
}
#online-courses .container .content-online-courses .content-card-online-courses .card-online-courses .content-card-online .text-card .tag-text span:first-child:before {
  content: "";
  font-weight: 900;
  font-family: "Font Awesome 5 Free";
  color: #b9b9b9;
  vertical-align: middle;
  padding-right: 5px;
}
#online-courses .container .content-online-courses .content-card-online-courses .card-online-courses .content-card-online .text-card .tag-text span:last-child:before {
  content: "";
  font-weight: 900;
  font-family: "Font Awesome 5 Free";
  color: #b9b9b9;
  vertical-align: middle;
  padding-right: 5px;
  padding-left: 10px;
}
#online-courses .container .content-online-courses .icon-card .content-icon-card i {
  color: #40c4ff;
}

#pricing .container.background {
  background-image: url("../img/background-pattern.jpg");
  background-repeat: no-repeat;
  background-size: inherit;
}
#pricing .container .content-pricing .table-pricing .content-table-pricing table {
  margin: 0 auto;
}
#pricing .container .content-pricing .table-pricing .content-table-pricing table thead tr th {
  font-family: "Merriweather", serif;
  font-size: 16px;
  padding: 10px 10px 10px 30px;
}
#pricing .container .content-pricing .table-pricing .content-table-pricing table tbody tr td {
  border: 1px solid black;
  font-weight: 400;
  font-size: 20px;
  color: grey;
  font-weight: 700;
  text-align: center;
}
#pricing .container .content-pricing .table-pricing .content-table-pricing table tbody tr td:first-child {
  font-family: "Merriweather", serif;
  padding: 10px 10px 10px 30px;
  text-align: left;
}
