@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
}

.container {
  width: 90%;
  margin: 0 auto;
}
.container.fluid {
  width: 100%;
  margin: 0 auto;
}

.txt-center {
  text-align: center;
}

.subtitle {
  margin: 0 auto;
  font-size: 17px;
  color: #595959;
  padding-top: 25px;
  padding-bottom: 25px;
  font-weight: 300;
  line-height: 25px;
}

h4 {
  font-family: "Merriweather", serif;
  font-size: 38px;
  color: #303030;
  font-weight: 500;
  line-height: 45px;
}

.pad-10 {
  padding: 10px;
}

.pad-15 {
  padding: 15px;
}

.pad-20 {
  padding: 20px;
}

.ptb-5 {
  padding-top: 5px;
  padding-bottom: 5px;
}

.ptb-10 {
  padding-top: 10px;
  padding-bottom: 10px;
}

.ptb-15 {
  padding-top: 15px;
  padding-bottom: 15px;
}

.ptb-20 {
  padding-top: 20px;
  padding-bottom: 20px;
}

.ptb-25 {
  padding-top: 25px;
  padding-bottom: 25px;
}

.ptb-30 {
  padding-top: 30px;
  padding-bottom: 30px;
}

.ptb-45 {
  padding-top: 45px;
  padding-bottom: 45px;
}

.ptb-120 {
  padding-top: 120px;
  padding-bottom: 120px;
}

.ptb-150 {
  padding-top: 150px;
  padding-bottom: 150px;
}

.plr-7 {
  padding-left: 7px;
  padding-right: 7px;
}

.plr-10 {
  padding-left: 10px;
  padding-right: 10px;
}

.plr-15 {
  padding-left: 15px;
  padding-right: 15px;
}

.plr-25 {
  padding-left: 25px;
  padding-right: 25px;
}

.plr-50 {
  padding-left: 50px;
  padding-right: 50px;
}

.pr-5 {
  padding-right: 5px;
}

.pr-10 {
  padding-right: 10px;
}

.pr-20 {
  padding-right: 20px;
}

.pb-5 {
  padding-bottom: 5px;
}

.pb-10 {
  padding-bottom: 10px;
}

.pb-15 {
  padding-bottom: 15px;
}

.pb-20 {
  padding-bottom: 20px;
}

.pb-25 {
  padding-bottom: 25px;
}

.pb-50 {
  padding-bottom: 50px;
}

.pb-60 {
  padding-bottom: 60px;
}

.pb-70 {
  padding-bottom: 70px;
}

.pb-80 {
  padding-bottom: 80px;
}

.pb-90 {
  padding-bottom: 90px;
}

.pb-100 {
  padding-bottom: 100px;
}

.pb-120 {
  padding-bottom: 120px;
}

.pt-20 {
  padding-top: 20px;
}

.pt-30 {
  padding-top: 30px;
}

.pt-40 {
  padding-top: 40px;
}

.pt-50 {
  padding-top: 50px;
}

.pt-60 {
  padding-top: 60px;
}

.mlr-5 {
  margin-left: 5px;
  margin-right: 5px;
}

.mr-10 {
  margin-right: 10px;
}

.mr-100 {
  margin-right: 100px;
}

.ml-10 {
  margin-left: 10px;
}

.ml-15 {
  margin-left: 15px;
}

.ml-70 {
  margin-left: 70px;
}

.mt-15 {
  margin-top: 15px;
}

.mt-30 {
  margin-top: 30px;
}

.mt-50 {
  margin-top: 50px;
}

.mt-70 {
  margin-top: 70px;
}

.mt-80 {
  margin-top: 80px;
}

.mt-120 {
  margin-top: 120px;
}

.mtb-30 {
  margin-top: 30px;
  margin-bottom: 30px;
}

.mtb-50 {
  margin-top: 50px;
  margin-bottom: 50px;
}

.mtb-70 {
  margin-top: 70px;
  margin-bottom: 70px;
}

.mtb-90 {
  margin-top: 90px;
  margin-bottom: 90px;
}

.mtb-120 {
  margin-top: 120px;
  margin-bottom: 120px;
}

#navbar {
  width: 100%;
  height: 75px;
  background-color: transparent;
  position: fixed;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
#navbar .container .content-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#navbar .container .content-navbar .logo-navbar .content-logo-navbar img {
  height: 32px;
  max-height: 70px;
}
#navbar .container .content-navbar .logo-navbar .content-logo-navbar img:hover {
  cursor: pointer;
}
#navbar .container .content-navbar .menu-navbar .content-menu-navbar ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
#navbar .container .content-navbar .menu-navbar .content-menu-navbar ul li {
  text-transform: uppercase;
}
#navbar .container .content-navbar .menu-navbar .content-menu-navbar ul li a {
  font-size: 15px;
  text-decoration: none;
  color: #ffffff;
}
#navbar .container .content-navbar .menu-navbar .content-menu-navbar ul li a:hover {
  color: #045d8c;
  cursor: pointer;
  font-weight: 600;
}
#navbar .container .content-navbar .icon-navbar .content-icon-navbar ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}
#navbar .container .content-navbar .icon-navbar .content-icon-navbar ul li a i:hover {
  color: #045d8c;
  cursor: pointer;
}
#navbar .container .content-navbar .icon-navbar .content-icon-navbar ul li a i {
  color: white;
}

#jumbo .container .content-jumbo {
  position: relative;
}
#jumbo .container .content-jumbo .card-jumbo {
  position: relative;
}
#jumbo .container .content-jumbo .card-jumbo.background {
  background-size: cover;
  background-repeat: no-repeat;
}
#jumbo .container .content-jumbo .card-jumbo img {
  width: 100%;
}
#jumbo .container .content-jumbo .card-jumbo .text-jumbo {
  color: #ffffff;
}
#jumbo .container .content-jumbo .card-jumbo .text-jumbo h2 {
  font-family: "Merriweather", serif;
  font-weight: 700;
  font-size: 65px;
  color: #ffffff;
  padding-top: 180px;
  padding-bottom: 25px;
}
#jumbo .container .content-jumbo .card-jumbo .text-jumbo p {
  font-size: 17px;
  font-weight: 400;
  line-height: 30px;
  color: #ffffff;
  width: 70%;
  margin: 0 auto;
}
#jumbo .container .content-jumbo .card-jumbo .text-jumbo button {
  color: #ffffff;
  background-color: #045d8c;
  border: none;
  padding: 17px 30px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 600;
  font-size: 15px;
  margin-bottom: 150px;
}
#jumbo .container .content-jumbo .card-jumbo .text-jumbo button:hover {
  cursor: pointer;
  transform: scale(1.05);
}
#jumbo .container .content-jumbo .card-jumbo .icon-jumbo {
  padding-bottom: 30px;
}
#jumbo .container .content-jumbo .card-jumbo .icon-jumbo i {
  font-size: 13px;
  padding: 0 5px;
  color: rgba(255, 255, 255, 0.3);
}
#jumbo .container .content-jumbo .card-jumbo .icon-jumbo i.active:before {
  content: "";
  font-weight: 900;
  font-family: "Font Awesome 5 Free";
  vertical-align: middle;
  color: #ffffff;
}

#courses .container .content-courses {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#courses .container .content-courses .card-courses {
  width: 15%;
  background-color: #f2f8fc;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 40px;
}
#courses .container .content-courses .card-courses img {
  width: 80px;
}
#courses .container .content-courses .card-courses img:hover {
  padding-bottom: 10px;
  cursor: pointer;
}
#courses .container .content-courses .card-courses h3 {
  color: #303030;
  padding-top: 20px;
  font-family: "Merriweather", serif;
  font-size: 15px;
  font-weight: 700;
}

#tutoring .container .content-tutoring .text-tutoring p.more {
  text-transform: uppercase;
  color: #045d8c;
  font-weight: 600;
}
#tutoring .container .content-tutoring .text-tutoring p.more:hover {
  text-decoration: underline;
  cursor: pointer;
}
#tutoring .container .content-tutoring .img-tutoring img {
  width: 100%;
}

#world .container .content-world {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#world .container .content-world .img-world {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
#world .container .content-world .img-world img {
  width: 100%;
}
#world .container .content-world .text-world {
  width: 45%;
}
#world .container .content-world .text-world .data-world {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
#world .container .content-world .text-world .data-world .data-content-world p {
  color: #045d8c;
  font-family: "Merriweather", serif;
  padding-top: 10px;
}
#world .container .content-world .text-world .data-world .data-content-world p:first-child {
  font-size: 45px;
  font-weight: 600;
}

#review .container {
  margin-top: 50px;
}
#review .container.background {
  background-image: url("../img/h5-parallax-img-1.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
}
#review .container .content-review {
  padding: 0 10%;
}
#review .container .content-review .card-review {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#review .container .content-review .card-review .text-card {
  color: #ffffff;
}
#review .container .content-review .card-review .text-card p {
  line-height: 30px;
  font-size: 18px;
  width: 80%;
  margin: 0 auto;
  font-weight: 300;
}
#review .container .content-review .card-review .text-card p:last-child {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 15px;
}
#review .container .content-review .card-review .text-card h5 {
  font-family: "Merriweather", serif;
  font-size: 23px;
  font-weight: 500;
}
#review .container .content-review .card-review .icon-card {
  color: #ffffff;
  padding: 40px 0;
}
#review .container .content-review .card-review .icon-card i {
  color: rgba(255, 255, 255, 0.5);
  padding: 0 6px;
  font-size: 12px;
}
#review .container .content-review .card-review .icon-card i.active {
  color: #ffffff;
}

#possibilities .container .content-possibilities {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
#possibilities .container .content-possibilities .course-possibilities {
  width: 30%;
}
#possibilities .container .content-possibilities .course-possibilities .content-course ul {
  list-style: none;
}
#possibilities .container .content-possibilities .course-possibilities .content-course ul li {
  padding: 25px 10px 25px 20px;
  border: 1px solid #e5e5e5;
  font-family: "Merriweather", serif;
  color: #847b7b;
  font-size: 16px;
  font-weight: 600;
}
#possibilities .container .content-possibilities .course-possibilities .content-course ul li:hover {
  color: #045d8c;
  cursor: pointer;
}
#possibilities .container .content-possibilities .course-possibilities .content-course ul li.active {
  border-left: 7px solid #045d8c;
  background-color: #fcfcfc;
  color: #045d8c;
}
#possibilities .container .content-possibilities .description-course {
  width: 60%;
}
#possibilities .container .content-possibilities .description-course .benefit-course {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
#possibilities .container .content-possibilities .description-course .benefit-course ul {
  list-style: none;
}
#possibilities .container .content-possibilities .description-course .benefit-course ul li {
  font-size: 18px;
  font-weight: 300;
  color: #595959;
  padding: 10px 0;
}
#possibilities .container .content-possibilities .description-course .benefit-course ul li:before {
  content: "";
  font-weight: 900;
  font-family: "Font Awesome 5 Free";
  color: #045d8c;
  vertical-align: middle;
  padding-right: 10px;
}
#possibilities .container .content-possibilities .description-course .benefit-course .img-benefit {
  text-align: center;
}
#possibilities .container .content-possibilities .description-course .benefit-course .img-benefit img {
  width: 60%;
  max-width: 80%;
}

#online-courses .container.background {
  background-image: url("../img/background-pattern.jpg");
  background-repeat: no-repeat;
  background-size: inherit;
}
#online-courses .container .content-online-courses {
  padding: 0 5%;
}
#online-courses .container .content-online-courses .title-online-courses .text-title p.reduce {
  width: 80%;
}
#online-courses .container .content-online-courses .content-card-online-courses {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#online-courses .container .content-online-courses .content-card-online-courses .card-online-courses {
  width: calc(100% / 3 - 30px);
}
#online-courses .container .content-online-courses .content-card-online-courses .card-online-courses .content-card-online {
  background-color: #ffffff;
  border: 1px solid #f2f2f2;
}
#online-courses .container .content-online-courses .content-card-online-courses .card-online-courses .content-card-online .img-card {
  overflow: hidden;
}
#online-courses .container .content-online-courses .content-card-online-courses .card-online-courses .content-card-online .img-card img {
  width: 100%;
}
#online-courses .container .content-online-courses .content-card-online-courses .card-online-courses .content-card-online .img-card img:hover {
  transform: scale(1.1);
}
#online-courses .container .content-online-courses .content-card-online-courses .card-online-courses .content-card-online .text-card {
  padding: 25px 20px 25px;
}
#online-courses .container .content-online-courses .content-card-online-courses .card-online-courses .content-card-online .text-card .header-text {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
#online-courses .container .content-online-courses .content-card-online-courses .card-online-courses .content-card-online .text-card .header-text .title-text h6 {
  font-family: "Merriweather", serif;
  color: #303030;
  font-size: 15px;
}
#online-courses .container .content-online-courses .content-card-online-courses .card-online-courses .content-card-online .text-card .header-text .title-text h6:hover {
  color: #045d8c;
  cursor: pointer;
}
#online-courses .container .content-online-courses .content-card-online-courses .card-online-courses .content-card-online .text-card .header-text .title-text p {
  font-size: 14px;
  font-weight: 600;
  color: #b9b9b9;
}
#online-courses .container .content-online-courses .content-card-online-courses .card-online-courses .content-card-online .text-card .header-text .title-text p:hover {
  color: #045d8c;
  cursor: pointer;
}
#online-courses .container .content-online-courses .content-card-online-courses .card-online-courses .content-card-online .text-card .header-text .price-text span {
  background-color: #ffd740;
  padding: 3px 10px;
  border-radius: 15px;
  text-transform: uppercase;
  color: white;
  font-size: 10px;
}
#online-courses .container .content-online-courses .content-card-online-courses .card-online-courses .content-card-online .text-card .description-text p {
  font-size: 15px;
  line-height: 25px;
  font-weight: 400;
  color: #808080;
}
#online-courses .container .content-online-courses .content-card-online-courses .card-online-courses .content-card-online .text-card .tag-text span {
  text-transform: uppercase;
  color: #b9b9b9;
  font-weight: 600;
  vertical-align: middle;
  font-size: 11px;
}
#online-courses .container .content-online-courses .content-card-online-courses .card-online-courses .content-card-online .text-card .tag-text span:hover {
  color: #045d8c;
  cursor: pointer;
}
#online-courses .container .content-online-courses .content-card-online-courses .card-online-courses .content-card-online .text-card .tag-text span:first-child:before {
  content: "";
  font-weight: 900;
  font-family: "Font Awesome 5 Free";
  color: #b9b9b9;
  vertical-align: middle;
  padding-right: 5px;
}
#online-courses .container .content-online-courses .content-card-online-courses .card-online-courses .content-card-online .text-card .tag-text span:last-child:before {
  content: "";
  font-weight: 900;
  font-family: "Font Awesome 5 Free";
  color: #b9b9b9;
  vertical-align: middle;
  padding-right: 5px;
  padding-left: 10px;
}
#online-courses .container .content-online-courses .icon-card .content-icon-card i {
  font-size: 12px;
  color: #045d8c;
  opacity: 0.5;
}
#online-courses .container .content-online-courses .icon-card .content-icon-card i:nth-child(2) {
  color: #045d8c;
  opacity: 1;
}

#pricing .container.background {
  background-image: url("../img/background-pattern.jpg");
  background-repeat: no-repeat;
  background-size: inherit;
}
#pricing .container .content-pricing {
  padding: 0 5%;
}
#pricing .container .content-pricing .table-pricing .content-table-pricing table {
  margin: 0 auto;
  border-collapse: collapse;
  border-spacing: 0;
}
#pricing .container .content-pricing .table-pricing .content-table-pricing table thead tr th {
  padding: 30px 50px 30px 50px;
  font-family: "Merriweather", serif;
  font-weight: 700;
  background-color: #f7fdff;
  border: 1px solid #efefef;
  border-top: 4px solid #d6f2ff;
}
#pricing .container .content-pricing .table-pricing .content-table-pricing table thead tr th:hover {
  border-top: 4px solid #045d8c;
  cursor: pointer;
}
#pricing .container .content-pricing .table-pricing .content-table-pricing table thead tr th:first-child {
  padding: 0px 15px 0px 25px;
  background-color: #ffffff;
}
#pricing .container .content-pricing .table-pricing .content-table-pricing table thead tr th:first-child h5 {
  font-size: 23px;
  padding-top: 100px;
}
#pricing .container .content-pricing .table-pricing .content-table-pricing table thead tr th img {
  padding-bottom: 10px;
}
#pricing .container .content-pricing .table-pricing .content-table-pricing table thead tr th h5 {
  font-size: 22px;
  padding-bottom: 10px;
  color: #3e3e3e;
}
#pricing .container .content-pricing .table-pricing .content-table-pricing table thead tr th p {
  font-size: 20px;
  padding-bottom: 10px;
  color: #3e3e3e;
  font-family: "Open Sans", sans-serif;
}
#pricing .container .content-pricing .table-pricing .content-table-pricing table tbody tr td {
  border: 1px solid #efefef;
  font-weight: 400;
  font-size: 20px;
  color: grey;
  text-align: center;
  background-color: #ffffff;
}
#pricing .container .content-pricing .table-pricing .content-table-pricing table tbody tr td:first-child {
  font-family: "Merriweather", serif;
  padding: 10px 10px 10px 25px;
  text-align: left;
  font-size: 16px;
  font-weight: 500;
  height: 60px;
}
#pricing .container .content-pricing .table-pricing .content-table-pricing table tbody tr td button {
  color: grey;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  background-color: #ffffff;
  border: 2px solid #eaebeb;
}
#pricing .container .content-pricing .table-pricing .content-table-pricing table tbody tr td button:hover {
  color: white;
  background-color: #045d8c;
  border: 2px solid #045d8c;
  cursor: pointer;
}
#pricing .container .content-pricing .table-pricing .content-table-pricing table tbody tr td.button:first-child {
  visibility: hidden;
  background-color: transparent;
  border: 0;
}
#pricing .container .content-pricing .table-pricing .content-table-pricing table tbody tr td.button {
  padding: 20px 0;
  background-color: #f7fdff;
}
#pricing .container .content-pricing .table-pricing .content-table-pricing table tbody tr td.button button {
  padding: 10px 30px;
  font-weight: 600;
  letter-spacing: 1px;
}
#pricing .container .content-pricing .table-pricing .content-table-pricing table tbody tr td i.fa-check {
  color: #045d8c;
}

#partners .container .content-partners {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
#partners .container .content-partners .img-partners img {
  width: 200px;
}
#partners .container .content-partners .img-partners img:hover {
  width: 205px;
  cursor: pointer;
}

footer #footer .container.background {
  background-color: #222222;
}
footer #footer .container .content-footer {
  padding: 120px 5% 0px 70px;
}
footer #footer .container .content-footer .menu-footer {
  color: #ffffff;
  padding-bottom: 70px;
}
footer #footer .container .content-footer .menu-footer .content-footer-menu {
  display: flex;
}
footer #footer .container .content-footer .menu-footer .content-footer-menu .column-menu {
  width: 25%;
}
footer #footer .container .content-footer .menu-footer .content-footer-menu .column-menu .content-column-menu ul {
  list-style: none;
}
footer #footer .container .content-footer .menu-footer .content-footer-menu .column-menu .content-column-menu ul li {
  color: #fbfbfc;
  font-size: 22px;
  font-family: "Merriweather", serif;
  font-weight: 700;
}
footer #footer .container .content-footer .menu-footer .content-footer-menu .column-menu .content-column-menu ul li img {
  width: 120px;
  padding-bottom: 30px;
}
footer #footer .container .content-footer .menu-footer .content-footer-menu .column-menu .content-column-menu ul li ul:first-child {
  padding-top: 30px;
}
footer #footer .container .content-footer .menu-footer .content-footer-menu .column-menu .content-column-menu ul li ul li.widgetFirst {
  width: 80%;
  font-size: 15px;
  font-weight: 300;
  font-family: "Open Sans", sans-serif;
}
footer #footer .container .content-footer .menu-footer .content-footer-menu .column-menu .content-column-menu ul li ul li.widgetFirst:nth-child(1) {
  margin-bottom: 25px;
}
footer #footer .container .content-footer .menu-footer .content-footer-menu .column-menu .content-column-menu ul li ul li.widgetFirst:nth-child(2) {
  font-size: 13px;
  color: #ffffff;
  font-weight: 600;
  margin-bottom: 15px;
}
footer #footer .container .content-footer .menu-footer .content-footer-menu .column-menu .content-column-menu ul li ul li.widgetFirst:nth-child(2):before {
  content: "";
  font-weight: 900;
  font-family: "Font Awesome 5 Free";
  color: #b9b9b9;
  vertical-align: middle;
  padding-right: 10px;
}
footer #footer .container .content-footer .menu-footer .content-footer-menu .column-menu .content-column-menu ul li ul li.widgetFirst:nth-child(2):hover {
  color: #045d8c;
  cursor: pointer;
}
footer #footer .container .content-footer .menu-footer .content-footer-menu .column-menu .content-column-menu ul li ul li.widgetFirst:nth-child(3) {
  font-size: 13px;
  color: #ffffff;
  font-weight: 600;
  margin-bottom: 15px;
}
footer #footer .container .content-footer .menu-footer .content-footer-menu .column-menu .content-column-menu ul li ul li.widgetFirst:nth-child(3):before {
  content: "";
  font-weight: 900;
  font-family: "Font Awesome 5 Free";
  color: #b9b9b9;
  vertical-align: middle;
  padding-right: 10px;
}
footer #footer .container .content-footer .menu-footer .content-footer-menu .column-menu .content-column-menu ul li ul li.widgetFirst:nth-child(3):hover {
  color: #045d8c;
  cursor: pointer;
}
footer #footer .container .content-footer .menu-footer .content-footer-menu .column-menu .content-column-menu ul li ul li.widgetSecondType {
  font-size: 15px;
  color: #cecece;
  font-family: "Merriweather", serif;
  font-size: 700;
}
footer #footer .container .content-footer .menu-footer .content-footer-menu .column-menu .content-column-menu ul li ul li.widgetSecondType:hover {
  color: #045d8c;
  cursor: pointer;
}
footer #footer .container .content-footer .menu-footer .content-footer-menu .column-menu .content-column-menu ul li ul li.widgetSecondAuthor {
  font-size: 13px;
  font-family: "Open Sans", sans-serif;
  color: #b9b9b9;
  font-weight: 600;
  margin-bottom: 20px;
}
footer #footer .container .content-footer .menu-footer .content-footer-menu .column-menu .content-column-menu ul li ul li.widgetThird {
  font-size: 15px;
  font-family: "Open Sans", sans-serif;
  padding-bottom: 10px;
  font-weight: 500;
}
footer #footer .container .content-footer .menu-footer .content-footer-menu .column-menu .content-column-menu ul li ul li.widgetThird a {
  text-decoration: none;
  color: #cecece;
}
footer #footer .container .content-footer .menu-footer .content-footer-menu .column-menu .content-column-menu ul li ul li.widgetThird a:hover {
  color: #045d8c;
  cursor: pointer;
}
footer #footer .container .content-footer .menu-footer .content-footer-menu .column-menu .content-column-menu ul li ul li.widgetFourth img {
  width: 200px;
}
footer #footer .container .content-footer .copyright-menu .content-copyright-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0;
}
footer #footer .container .content-footer .copyright-menu .content-copyright-menu .right-copyright-menu span {
  font-size: 11px;
  color: #959595;
}
footer #footer .container .content-footer .copyright-menu .content-copyright-menu .left-copyright-menu {
  display: flex;
  justify-content: center;
  align-items: center;
}
footer #footer .container .content-footer .copyright-menu .content-copyright-menu .left-copyright-menu span {
  font-size: 11px;
  text-transform: uppercase;
  padding-right: 20px;
}
footer #footer .container .content-footer .copyright-menu .content-copyright-menu .left-copyright-menu span a {
  text-decoration: none;
  color: #959595;
}
footer #footer .container .content-footer .copyright-menu .content-copyright-menu .left-copyright-menu span a:hover {
  color: #045d8c;
  cursor: pointer;
}
footer #footer .container .content-footer .copyright-menu .content-copyright-menu .left-copyright-menu ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
footer #footer .container .content-footer .copyright-menu .content-copyright-menu .left-copyright-menu ul li a i {
  padding-right: 20px;
  color: #959595;
  font-size: 13px;
}
footer #footer .container .content-footer .copyright-menu .content-copyright-menu .left-copyright-menu ul li a i:hover {
  color: #045d8c;
  cursor: pointer;
}
footer #footer .container .pointer-up .content-pointer-up {
  position: fixed;
  bottom: 0;
  right: 0;
  background-color: #045d8c;
  padding: 10px 15px;
}
footer #footer .container .pointer-up .content-pointer-up a {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: #ffffff;
}
footer #footer .container .pointer-up .content-pointer-up a span {
  text-transform: uppercase;
  font-size: 11px;
}
